In [1]:
# Module import
import re                              # 정규식
import platform                        # 사용 중인 시스템 환경 알 수 있음
import import_ipynb                    # .py 대신 .ipnyb 그대로 module import
from time import sleep                 # api 요청 for문 돌릴 때 잠깐 멈춰야 됨
from collections import Counter        # 동일값이 몇 개인지 파악

import numpy as np
from numpy.random import randint
from random import *

from pandas import ExcelWriter
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format

from sqlalchemy import create_engine  # 일단 뭐하는 건지 모르겠음
import cx_Oracle                      # 이것도 뭔지 모르겠음

import http.client
import requests
import json
from datetime import datetime

# NICE Oracle DB에 접속
# engine = create_engine('oracle://username:password@host:port/database')
engine = create_engine('oracle://NRD:pni1114*@10.0.1.30:1521/PNIDB')

# Excel DB에 연결
Corp_Table = pd.read_excel('../Data/NCR_EXCEL_DB_VER2.xlsm',sheet_name='Input_save',encoding='euc-kr')
Corp_Table.head()

,Corp_Name,Corp_Code,Indu_Name,Cons_Indi,Kisl_Code,Kisl_Name,Year_Count
0,CJ대한통운,1101110006167,물류,1,710083,씨제이대한통운,5
1,현대건설,1101110007909,건설,0,500577,현대건설,5
2,CJ,1101110015639,일반,1,310182,CJ,5
3,LG상사,1101110004632,종합상사,1,610224,LG상사,5
4,SK네트웍스,1301110005199,종합상사,1,610259,SK네트웍스,5

In [2]:
# NCR local download practice

def download_raw_data_by_api(base_date, date_count, report_type, Cons_Indi, Kisl_Code, stacdivcd):
    # 일단 stacdivcd, stac_date, com_farpt_yn, amtuit, yr, mtd_cd, tp_cd, mrl_bse_cd, farptitemcd, fatpcd, 
    # slct_tp, Kisl_Code 이것들은 api 요청 넣을 때 key로 들어감.
    
    # params = {'uid':'niceit@nicepni.com', 'stacdivcd':'stacdivcd', 'stac_date':str(base_date), 
    #           'com_farpt_yn':'', 'amtuit':'1', 'yr':str(date_count), 'mtd_cd':'F', 'tp_cd':'I',
    #           'mrl_bse_cd':'', 'farptitemcd':str(report_type), 'fatpcd':str(Cons_Indi), 'slct_tp':'',
    #           'Kisl_Code':str(Kisl_Code)}
    
    # 기관의 API 사용자 ID 입력
    uid = 'niceit@nicepni.com'
    # 결산구분(F, B, T, K - 기본 K, 반기 B)
    stacdivcd = stacdivcd
    # 결산일자
    stac_date = str(base_date)
    # 공통재무보고서 여부
    com_farpt_yn = ''
    # 금액단위 (1:원, 2:천원, 3:백만원, 4:억원)
    amtuit = '1'
    # 기준년도, 개수
    yr = str(date_count)
    # 방식코드 (F:전체, M:분석, S:약식)
    mtd_cd = 'F'
    # 양식구분 (I:K-IFRS, N:K-GAAP)
    tp_cd = 'I'
    # 자료기준코드 (term: 3개월, 기본: 누적)
    mrl_bse_cd = ''
    # 재무보고서 항목코드 (11: 재무상태표, 12: 손익계산서, 16: 현금흐름표)
    farptitemcd = str(report_type)
    # 재무제표 유형 (0: 개별, 1: 연결)
    fatpcd = str(Cons_Indi)
    # 조회유형
    slct_tp = ''
    # 조회할 업체의 KISCODE 입력
    Kisl_Code = str(Kisl_Code)
    
    api_address = "/nice/sb/api/nicepni/companyFinancialIfo/financialStateTable?uid="+uid+ \
                  "&stacdivcd="+stacdivcd+"&stac_date="+stac_date+"&com_farpt_yn="+com_farpt_yn+ \
                  "&amtuit="+amtuit+"&yr="+yr+"&mtd_cd="+mtd_cd+"&tp_cd="+tp_cd+ \
                  "&mrl_bse_cd="+mrl_bse_cd+"&farptitemcd="+farptitemcd+"&fatpcd="+fatpcd+ \
                  "&slct_tp="+slct_tp+"&kiscode="+Kisl_Code
    
    conn = http.client.HTTPSConnection("api.kisline.com")
    
    headers = {
        'x-ibm-client-id' : '08dc4389-d1e4-439b-902c-7aede5a2ca2e',
        'x-ibm-client-secret' : 'qY6pK0cS2kJ7kN8cI3dB4rT2vA2aO1tQ3sG1oV1eL6dM1oR7iD',
        'accept' : 'application/json'
    }
    
    conn.request("GET", api_address, headers=headers)
    
    response = conn.getresponse()
    data = response.read()
    text_data = data.decode('utf-8')
    raw_data_by_api = json.loads(text_data)
    
    return raw_data_by_api

In [3]:
# 2018 연결재무제표 증 5개 재무제표 존재하고 재무상태표/손익계산서/현금흐름표 
for i in range(len(Corp_Table)):
    sleep(1+random())
    
    try:
        Cons_Indi = 1
        base_date = 20181231
        date_count = 5
        report_type = ['11', '12', '16']
        Corp_Name = Corp_Table.loc[i, 'Corp_Name']
        Corp_Code = Corp_Table.loc[i, 'Corp_Code']
        Kisl_Code = Corp_Table.loc[i, 'Kisl_Code']
        Kisl_Name = Corp_Table.loc[i, 'Kisl_Name']
        stacdivcd = 'K'
        
        for item in report_type:
            
            raw_data_by_api = download_raw_data_by_api(base_date, date_count, item, Cons_Indi, Kisl_Code, stacdivcd)
            
            # Corp_Data 디렉토리 지정한건데 왜 파일명에 Corp_Data? --> Corp_Data 뒤에 / 하나 빠져서. 해결! 
            with open('../Data/Corp_Data/'+ \
                      str(Corp_Code)+'_'+str(Kisl_Code)+'_'+Kisl_Name+'_'+str(Cons_Indi)+'_'+ \
                      str(item)+'_'+str(base_date)+'.txt', 'w') as file:
                file.write(json.dumps(raw_data_by_api))
                
    except Exception as ex:
        print(Corp_Name)
        template = "An exception of type {0} occurred. Arguments:\n{1!r}"
        message = template.format(type(ex).__name__, ex.args)
        print(message)
        print(' ')

SK건설
An exception of type ConnectionResetError occurred. Arguments:
(10054, '현재 연결은 원격 호스트에 의해 강제로 끊겼습니다', None, 10054, None)

In [5]:
# SK 건설 1개 케이스 에러 발생. (10054, '현재 여결은 원격 호스트에 의해 강제로 끊겼습니다')
# 얘만 for문 안 돌리고 소환 --> 해결!
try:
    Cons_Indi = 1
    base_date = 20181231
    date_count = 5
    report_type = ['11','12','16']
    Corp_Name = 'SK건설'
    Corp_Code = 1101110038805
    Kisl_Code = 500283
    Kisl_Name = '에스케이건설'
    stacdivcd = 'K'
    
    for item in report_type:
        
        raw_data_by_api = download_raw_data_by_api(base_date, date_count, item, Cons_Indi, Kisl_Code, stacdivcd)
        
        with open('../Data/Corp_Data/'+ \
                      str(Corp_Code)+'_'+str(Kisl_Code)+'_'+Kisl_Name+'_'+str(Cons_Indi)+'_'+ \
                      str(item)+'_'+str(base_date)+'.txt', 'w') as file:
                file.write(json.dumps(raw_data_by_api))
        
except Exception as ex:
    print(Corp_Name)
    template = "An exception of type {0} occurred. Arguments:\n{1!r}"
    message = template.format(type(ex).__name__, ex.args)
    print(message)
    print(' ')