In [23]:
# Module import
import re                              # 정규식
import platform                        # 사용 중인 시스템 환경 알 수 있음
import import_ipynb                    # .py 대신 .ipnyb 그대로 module import
from time import sleep                 # api 요청 for문 돌릴 때 잠깐 멈춰야 됨
from collections import Counter        # 동일값이 몇 개인지 파악

import numpy as np
from numpy.random import randint
from random import *

from pandas import ExcelWriter
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format

from sqlalchemy import create_engine  # 일단 뭐하는 건지 모르겠음
import cx_Oracle                      # 이것도 뭔지 모르겠음

import http.client
import requests
import json
from datetime import datetime

# NICE Oracle DB에 접속
# engine = create_engine('oracle://username:password@host:port/database')
engine = create_engine('oracle://NRD:pni1114*@10.0.1.30:1521/PNIDB')

# Excel DB에 연결 : 이광세 연구원 유니버스 전체 Kisl_Code 다 가져올 것임.
Corp_Table = pd.read_excel('../Data/이광세연구원_유니버스 정리.xlsm',sheet_name='이광세연구원_유니버스',encoding='euc-kr')
Corp_Table.head()

   Corp_Name      Corp_Code       l       l.1 l.2 l.3
0      삼양홀딩스  1101110026181  Annual  20190531  일반  연결
1         CJ  1101110015639  Annual  20190731  일반  연결
2       LS산전  1101110520076  Annual  20190531  일반  연결
3      LG이노텍  1101110192180  Annual  20190531  일반  연결
4  한화에어로스페이스  1942110000480  Annual  20190531  일반  연결

In [24]:
# API로 Kisl_Code 입수하는 함수
def download_Kisl_Code_by_API(Corp_Code):
    # API 요청 넣을 때 들어가는게 uid, Corp_Code는 있어야 되는 것 같고 나머지는 모르겠음
    
    # 기관의 API 사용자 ID 입력
    uid = 'niceit@nicepni.com'
    
    # 법인 번호
    Corp_Code = str(Corp_Code)
    
    # bizno : 사업자번호. 모르는데?
    bizno = ''
    
    api_address = "/nice/sb/api/nicepni/companyOutlineIfo/kiscode?uid="+uid+"&crpno="+Corp_Code+ \
    "&bizno="+bizno
    
    conn = http.client.HTTPSConnection('api.kisline.com')
    
    headers = {
    'x-ibm-client-id': '08dc4389-d1e4-439b-902c-7aede5a2ca2e',
    'x-ibm-client-secret': 'qY6pK0cS2kJ7kN8cI3dB4rT2vA2aO1tQ3sG1oV1eL6dM1oR7iD',
    'accept': "application/json"
    }
    
    conn.request("GET", api_address, headers=headers)
        
    response = conn.getresponse()
    data = response.read()
    text_data = data.decode('utf-8')
    Kisl_Code_by_api = json.loads(text_data)
    
    return Kisl_Code_by_api

In [25]:
# Kisl_Code 입수용 함수 실행
for i in range(len(Corp_Table)):
    sleep(1+random())
    
    try:
        Corp_Name = Corp_Table.loc[i, 'Corp_Name']
        Corp_Code = Corp_Table.loc[i, 'Corp_Code']
        
        Kisl_Code_by_api = download_Kisl_Code_by_API(Corp_Code)
            
        with open('../Data/Kisl_Code_연습/'+str(Corp_Code)+'_'+str(Corp_Name)+'.txt', 'w') as file:
            file.write(json.dumps(Kisl_Code_by_api))
                
    except Exception as ex:
        print(Corp_Name)
        template = "An exception of type {0} occurred. Arguments:\n{1!r}"
        message = template.format(type(ex).__name__, ex.args)
        print(message)
        print(' ')

In [61]:
# Kisl_Code txt 받은 것 엑셀로 뽑아서 갖다 붙이자

# Corp_Table에서 Corp_Code, Corp_Name만 잘라서 넣음
Corp_Code_Item = Corp_Table.loc[:, ['Corp_Code','Corp_Name']]
# Kisl_Code 넣을 list
Kisl_Code_List = []

for i in range(len(Corp_Code_Item)):
    # for문 돌면서 file_name에 쭉 들어감
    file_name = str(Corp_Code_Item.loc[i][0])+'_'+str(Corp_Code_Item.loc[i][1])
    
    # txt 파일 열고 load
    with open('../Data/Kisl_Code_연습/'+file_name+'.txt') as Kisl_Code_file:
        pyresponse = json.load(Kisl_Code_file)
        
    Kisl_Code_List.append(pyresponse['items']['item'][0]['kiscode'])  # Kisl_Code_List에 Kisl_Code 들어감

In [63]:
# Kisl_Code_List를 Corp_Code_Item에 붙이기
Corp_Code_Item["Kisl_Code"] = Kisl_Code_List

In [65]:
# 엑셀로 만들기
Corp_Code_Item.to_excel('../Data/Kisl_Code_File.xlsx')